control+win+down=next_item
control+win+up=prev_item
control+win+left=prev_tl
control+win+right=next_tl
control+win+home=top_item
control+win+end=bottom_item
control+win+space=speak_item
control+win+z=UndoNavigation
control+win+q=Quote
control+win+e=Edit
control+win+n=Post
control+win+k=LikeToggle
control+win+v=View
control+win+return=Enter
control+shift+win+return=SecondaryAction
control+win+t=open_thread
control+win+u=UserTimeline
control+shift+win+u=UserProfile
control+win+;=SpeakUser
control+shift+win+;=SpeakReply
control+win+l=FollowToggle
control+shift+win+l=MuteToggle
control+win+[=MyFollowers
control+win+]=MyFollowing
control+win+'=CloseTimeline
control+win+delete=DeletePost
control+win+o=Options
control+shift+win+q=Exit
control+shift+win+left=PrevAccount
control+shift+win+right=NextAccount
control+win+,=prev_movement
control+win+.=next_movement
