control+win+down=next_item
control+win+up=prev_item
control+win+left=prev_tl
control+win+right=next_tl
control+win+home=top_item
control+win+end=bottom_item
control+win+space=speak_item
control+win+z=UndoNavigation
control+win+q=Quote
control+win+e=Edit
control+win+n=Post
control+win+k=LikeToggle
control+win+v=View
control+win+return=Url
control+win+t=open_thread
control+win+u=UserTimeline
control+shift+win+u=UserProfile
control+win+l=FollowToggle
control+shift+win+l=MuteToggle
control+win+'=CloseTimeline
control+win+o=Options
